[submodule "vendor/github.com/apache/thrift"]
	path = vendor/github.com/apache/thrift
	url = https://github.com/apache/thrift
[submodule "vendor/github.com/spf13/cobra"]
	path = vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra
[submodule "vendor/github.com/spf13/pflag"]
	path = vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/github.com/golang/mock"]
	path = vendor/github.com/golang/mock
	url = https://github.com/golang/mock
[submodule "vendor/github.com/leanovate/gopter"]
	path = vendor/github.com/leanovate/gopter
	url = https://github.com/leanovate/gopter
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
#
# Everything after here is a transitive dependency that is not required to use scoot.
# See: github.com/pantsbuild/pants/issues/3606
#
[submodule "vendor/github.com/BurntSushi/toml"]
	path = vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml
[submodule "vendor/github.com/armon/consul-api"]
	path = vendor/github.com/armon/consul-api
	url = https://github.com/armon/consul-api
[submodule "vendor/github.com/coreos/go-etcd"]
	path = vendor/github.com/coreos/go-etcd
	url = https://github.com/coreos/go-etcd
[submodule "vendor/github.com/cpuguy83/go-md2man"]
	path = vendor/github.com/cpuguy83/go-md2man
	url = https://github.com/cpuguy83/go-md2man
[submodule "vendor/github.com/fsnotify/fsnotify"]
	path = vendor/github.com/fsnotify/fsnotify
	url = https://github.com/fsnotify/fsnotify
[submodule "vendor/github.com/golang/glog"]
	path = vendor/github.com/golang/glog
	url = https://github.com/golang/glog
[submodule "vendor/github.com/hashicorp/hcl"]
	path = vendor/github.com/hashicorp/hcl
	url = https://github.com/hashicorp/hcl
[submodule "vendor/github.com/inconshreveable/mousetrap"]
	path = vendor/github.com/inconshreveable/mousetrap
	url = https://github.com/inconshreveable/mousetrap
[submodule "vendor/github.com/magiconair/properties"]
	path = vendor/github.com/magiconair/properties
	url = https://github.com/magiconair/properties
[submodule "vendor/github.com/mitchellh/mapstructure"]
	path = vendor/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure
[submodule "vendor/github.com/russross/blackfriday"]
	path = vendor/github.com/russross/blackfriday
	url = https://github.com/russross/blackfriday
[submodule "vendor/github.com/shurcooL/sanitized_anchor_name"]
	path = vendor/github.com/shurcooL/sanitized_anchor_name
	url = https://github.com/shurcooL/sanitized_anchor_name
[submodule "vendor/github.com/spf13/cast"]
	path = vendor/github.com/spf13/cast
	url = https://github.com/spf13/cast
[submodule "vendor/github.com/spf13/jwalterweatherman"]
	path = vendor/github.com/spf13/jwalterweatherman
	url = https://github.com/spf13/jwalterweatherman
[submodule "vendor/github.com/spf13/viper"]
	path = vendor/github.com/spf13/viper
	url = https://github.com/spf13/viper
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
[submodule "vendor/github.com/ugorji/go"]
	path = vendor/github.com/ugorji/go
	url = https://github.com/ugorji/go
[submodule "vendor/github.com/xordataexchange/crypt"]
	path = vendor/github.com/xordataexchange/crypt
	url = https://github.com/xordataexchange/crypt
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/golang.org/x/oauth2"]
	path = vendor/golang.org/x/oauth2
	url = https://go.googlesource.com/oauth2
[submodule "vendor/google.golang.org/cloud"]
	path = vendor/google.golang.org/cloud
	url = https://code.googlesource.com/gocloud
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
