[submodule "vendor/github.com/apache/thrift"]
	path = vendor/github.com/apache/thrift
	url = https://github.com/apache/thrift
	branch = 0e9fed1e12ed066865e46c6903782b2ef95f4650
[submodule "vendor/github.com/spf13/cobra"]
	path = vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra
	branch = 6a8bd97bdb1fc0d08a83459940498ea49d3e8c93
[submodule "vendor/github.com/spf13/pflag"]
	path = vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
	branch = 367864438f1b1a3c7db4da06a2f55b144e6784e0
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
	branch = bc3663df0ac92f928d419e31e0d2af22e683a5a2
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
	branch = 69420784d409f9ff88b424436f52001b26144e20
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
	branch = 0c1f6d65b5a189c2250d10e71a5506f06f9fa0a0
[submodule "vendor/github.com/golang/mock"]
	path = vendor/github.com/golang/mock
	url = https://github.com/golang/mock
	branch = bd3c8e81be01eef76d4b503f5e687d2d1354d2d9
[submodule "vendor/github.com/leanovate/gopter"]
	path = vendor/github.com/leanovate/gopter
	url = https://github.com/leanovate/gopter
	branch = d466d84be94d3a069168feacdd74ab16dacbe6bb
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
	branch = 62bee037599929a6e9146f29d10dd5208c43507d
[submodule "vendor/github.com/luci/go-render"]
	path = vendor/github.com/luci/go-render
	url = https://github.com/luci/go-render
	branch = 9a04cc21af0f2e328bfb81741ec9e8967c4f6541
[submodule "vendor/github.com/rcrowley/go-metrics"]
	path = vendor/github.com/rcrowley/go-metrics
	url = https://github.com/rcrowley/go-metrics
	branch = cfa5a85e9f0abbdf1701b59082c36fc7bff10759
[submodule "vendor/github.com/nu7hatch/gouuid"]
	path = vendor/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
	branch = 179d4d0c4d8d407a32af483c2354df1d2c91e6c3
[submodule "vendor/github.com/sethgrid/pester"]
	path = vendor/github.com/sethgrid/pester
	url = https://github.com/sethgrid/pester
	branch = 4f4c0a67b6496764028e1ab9fd8dfb630282ed2f
[submodule "vendor/github.com/sirupsen/logrus"]
	path = vendor/github.com/sirupsen/logrus
	url = https://github.com/sirupsen/logrus
    branch = f006c2ac4710855cf0f916dd6b77acf6b048dc6e

[submodule "vendor/github.com/golang/groupcache"]
	path = vendor/github.com/golang/groupcache
	url = https://github.com/golang/groupcache
	branch = 72d04f9fcdec7d3821820cc4a6f150eae553639a
[submodule "github.com/twitter/groupcache"]
	path = vendor/github.com/twitter/groupcache
	url = https://github.com/twitter/groupcache
	branch = 85fde1c5c36988481c30fc26605cd83f21cc94d1
[submodule "github.com/twitter/fuse"]
	path = vendor/github.com/twitter/fuse
	url = https://github.com/twitter/fuse
	branch = 18043572956a4a3bfe3e757a6ec9edb008ac8866

#
# Everything after here is a transitive dependency that is not required to use scoot.
# Note: this division should be curated whenever the dependencies change.
# See: github.com/pantsbuild/pants/issues/3606
#
[submodule "vendor/github.com/BurntSushi/toml"]
	path = vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml
	branch = f0aeabca5a127c4078abb8c8d64298b147264b55
[submodule "vendor/github.com/armon/consul-api"]
	path = vendor/github.com/armon/consul-api
	url = https://github.com/armon/consul-api
	branch = dcfedd50ed5334f96adee43fc88518a4f095e15c
[submodule "vendor/github.com/coreos/go-etcd"]
	path = vendor/github.com/coreos/go-etcd
	url = https://github.com/coreos/go-etcd
	branch = 003851be7bb0694fe3cc457a49529a19388ee7cf
[submodule "vendor/github.com/cpuguy83/go-md2man"]
	path = vendor/github.com/cpuguy83/go-md2man
	url = https://github.com/cpuguy83/go-md2man
	branch = 2724a9c9051aa62e9cca11304e7dd518e9e41599
[submodule "vendor/github.com/fsnotify/fsnotify"]
	path = vendor/github.com/fsnotify/fsnotify
	url = https://github.com/fsnotify/fsnotify
	branch = 30411dbcefb7a1da7e84f75530ad3abe4011b4f8
[submodule "vendor/github.com/golang/glog"]
	path = vendor/github.com/golang/glog
	url = https://github.com/golang/glog
	branch = 23def4e6c14b4da8ac2ed8007337bc5eb5007998
[submodule "vendor/github.com/hashicorp/hcl"]
	path = vendor/github.com/hashicorp/hcl
	url = https://github.com/hashicorp/hcl
	branch = 61f5143284c041681f76a5b63efcb232aaa94737
[submodule "vendor/github.com/inconshreveable/mousetrap"]
	path = vendor/github.com/inconshreveable/mousetrap
	url = https://github.com/inconshreveable/mousetrap
	branch = 76626ae9c91c4f2a10f34cad8ce83ea42c93bb75
[submodule "vendor/github.com/magiconair/properties"]
	path = vendor/github.com/magiconair/properties
	url = https://github.com/magiconair/properties
	branch = c265cfa48dda6474e208715ca93e987829f572f8
[submodule "vendor/github.com/mitchellh/mapstructure"]
	path = vendor/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure
	branch = d2dd0262208475919e1a362f675cfc0e7c10e905
[submodule "vendor/github.com/russross/blackfriday"]
	path = vendor/github.com/russross/blackfriday
	url = https://github.com/russross/blackfriday
	branch = 1d6b8e9301e720b08a8938b8c25c018285885438
[submodule "vendor/github.com/shurcooL/sanitized_anchor_name"]
	path = vendor/github.com/shurcooL/sanitized_anchor_name
	url = https://github.com/shurcooL/sanitized_anchor_name
	branch = 10ef21a441db47d8b13ebcc5fd2310f636973c77
[submodule "vendor/github.com/spf13/cast"]
	path = vendor/github.com/spf13/cast
	url = https://github.com/spf13/cast
	branch = 27b586b42e29bec072fe7379259cc719e1289da6
[submodule "vendor/github.com/spf13/jwalterweatherman"]
	path = vendor/github.com/spf13/jwalterweatherman
	url = https://github.com/spf13/jwalterweatherman
	branch = 33c24e77fb80341fe7130ee7c594256ff08ccc46
[submodule "vendor/github.com/spf13/viper"]
	path = vendor/github.com/spf13/viper
	url = https://github.com/spf13/viper
	branch = c1ccc378a054ea8d4e38d8c67f6938d4760b53dd
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
	branch = d77da356e56a7428ad25149ca77381849a6a5232
[submodule "vendor/github.com/ugorji/go"]
	path = vendor/github.com/ugorji/go
	url = https://github.com/ugorji/go
	branch = b94837a2404ab90efe9289e77a70694c355739cb
[submodule "vendor/github.com/xordataexchange/crypt"]
	path = vendor/github.com/xordataexchange/crypt
	url = https://github.com/xordataexchange/crypt
	branch = 749e360c8f236773f28fc6d3ddfce4a470795227
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
	branch = 811831de4c4dd03a0b8737233af3b36852386373
[submodule "vendor/golang.org/x/oauth2"]
	path = vendor/golang.org/x/oauth2
	url = https://go.googlesource.com/oauth2
	branch = 65a8d08c6292395d47053be10b3c5e91960def76
[submodule "vendor/google.golang.org/cloud"]
	path = vendor/google.golang.org/cloud
	url = https://code.googlesource.com/gocloud
	branch = a4c7c3139dc2772ad6c3bb73d0a9236a79063f8c
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
	branch = b6679148d27038e59d7818facc4d100e677a64ae
[submodule "vendor/github.com/stathat/go"]
	path = vendor/github.com/stathat/go
	url = https://github.com/stathat/go
	branch = c828dca0ee6eadc566bfcbcc00e4a992f12821a3
[submodule "vendor/cloud.google.com/go"]
	path = vendor/cloud.google.com/go
	url = https://code.googlesource.com/gocloud
	branch = 8e3c0b22f89d3d365c5e678011ca2268d8b36c63
[submodule "vendor/github.com/kr/fs"]
	path = vendor/github.com/kr/fs
	url = https://github.com/kr/fs
	branch = 2788f0dbd16903de03cb8186e5c7d97b69ad387b
[submodule "vendor/github.com/pelletier/go-buffruneio"]
	path = vendor/github.com/pelletier/go-buffruneio
	url = https://github.com/pelletier/go-buffruneio
	branch = df1e16fde7fc330a0ca68167c23bf7ed6ac31d6d
[submodule "vendor/github.com/pelletier/go-toml"]
	path = vendor/github.com/pelletier/go-toml
	url = https://github.com/pelletier/go-toml
	branch = 31055c2ff0bb0c7f9095aec0d220aed21108121e
[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
	branch = 17b591df37844cde689f4d5813e5cea0927d8dd2
[submodule "vendor/github.com/pkg/sftp"]
	path = vendor/github.com/pkg/sftp
	url = https://github.com/pkg/sftp
	branch = 8197a2e580736b78d704be0fc47b2324c0591a32
[submodule "vendor/github.com/spf13/afero"]
	path = vendor/github.com/spf13/afero
	url = https://github.com/spf13/afero
	branch = 20500e2abd0d1f4564a499e83d11d6c73cd58c27
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
	branch = 1e65e9bf72c307081cea196f47ef37aed17eb316
[submodule "vendor/github.com/stretchr/objx"]
	path = vendor/github.com/stretchr/objx
	url = https://github.com/stretchr/objx.git
	branch = 1a9d0bb9f541897e62256577b352fdbc1fb4fd94
[submodule "vendor/github.com/davecgh/go-spew"]
	path = vendor/github.com/davecgh/go-spew
	url = https://github.com/davecgh/go-spew.git
	branch = 6d212800a42e8ab5c146b8ace3490ee17e5225f9
[submodule "vendor/github.com/pmezard/go-difflib"]
	path = vendor/github.com/pmezard/go-difflib
	url = https://github.com/pmezard/go-difflib.git
	branch = 792786c7400a136282c1664665ae0a8db921c6c2
[submodule "vendor/github.com/coreos/etcd"]
	path = vendor/github.com/coreos/etcd
	url = https://github.com/coreos/etcd
	branch = 527429f30ab169532bda25d268e18a1e2b22507e
[submodule "vendor/github.com/coreos/go-semver"]
	path = vendor/github.com/coreos/go-semver
	url = https://github.com/coreos/go-semver
	branch = 1817cd4bea52af76542157eeabd74b057d1a199e
[submodule "vendor/github.com/mitchellh/go-homedir"]
	path = vendor/github.com/mitchellh/go-homedir
	url = https://github.com/mitchellh/go-homedir
	branch = b8bc1bf767474819792c23f32d8286a45736f1c6
[submodule "vendor/github.com/beorn7/perks"]
	path = vendor/github.com/beorn7/perks
	url = https://github.com/beorn7/perks
	branch = 4c0e84591b9aa9e6dcfdf3e020114cd81f89d5f9
[submodule "vendor/github.com/bgentry/speakeasy"]
	path = vendor/github.com/bgentry/speakeasy
	url = https://github.com/bgentry/speakeasy
	branch = 4aabc24848ce5fd31929f7d1e4ea74d3709c14cd
[submodule "vendor/github.com/coreos/bbolt"]
	path = vendor/github.com/coreos/bbolt
	url = https://github.com/coreos/bbolt
	branch = ebf39dca253747810b2f412f9e04befbd683be75
[submodule "vendor/github.com/coreos/go-systemd"]
	path = vendor/github.com/coreos/go-systemd
	url = https://github.com/coreos/go-systemd
	branch = d2196463941895ee908e13531a23a39feb9e1243
[submodule "vendor/github.com/coreos/pkg"]
	path = vendor/github.com/coreos/pkg
	url = https://github.com/coreos/pkg
	branch = 459346e834d8e97be707cd0ea1236acaaa159ffc
[submodule "vendor/github.com/dgrijalva/jwt-go"]
	path = vendor/github.com/dgrijalva/jwt-go
	url = https://github.com/dgrijalva/jwt-go
	branch = a539ee1a749a2b895533f979515ac7e6e0f5b650
[submodule "vendor/github.com/dustin/go-humanize"]
	path = vendor/github.com/dustin/go-humanize
	url = https://github.com/dustin/go-humanize
	branch = 79e699ccd02f240a1f1fbbdcee7e64c1c12e41aa
[submodule "vendor/github.com/fatih/color"]
	path = vendor/github.com/fatih/color
	url = https://github.com/fatih/color
	branch = 1535ebc2637cc042c938f07fa26c6356ab8f8504
[submodule "vendor/github.com/ghodss/yaml"]
	path = vendor/github.com/ghodss/yaml
	url = https://github.com/ghodss/yaml
	branch = 0ca9ea5df5451ffdf184b4428c902747c2c11cd7
[submodule "vendor/github.com/gogo/protobuf"]
	path = vendor/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
	branch = 2adc21fd136931e0388e278825291678e1d98309
[submodule "vendor/github.com/google/btree"]
	path = vendor/github.com/google/btree
	url = https://github.com/google/btree
	branch = 316fb6d3f031ae8f4d457c6c5186b9e3ded70435
[submodule "vendor/github.com/grpc-ecosystem/go-grpc-prometheus"]
	path = vendor/github.com/grpc-ecosystem/go-grpc-prometheus
	url = https://github.com/grpc-ecosystem/go-grpc-prometheus
	branch = 0dafe0d496ea71181bf2dd039e7e3f44b6bd11a7
[submodule "vendor/github.com/grpc-ecosystem/grpc-gateway"]
	path = vendor/github.com/grpc-ecosystem/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway
	branch = 8bec008bd140852468324fdd069ed8e38d37a963
[submodule "vendor/github.com/jonboulle/clockwork"]
	path = vendor/github.com/jonboulle/clockwork
	url = https://github.com/jonboulle/clockwork
	branch = bcac9884e7502bb2b474c0339d889cb981a2f27f
[submodule "vendor/github.com/kr/pty"]
	path = vendor/github.com/kr/pty
	url = https://github.com/kr/pty
	branch = 2c10821df3c3cf905230d078702dfbe9404c9b23
[submodule "vendor/github.com/mattn/go-colorable"]
	path = vendor/github.com/mattn/go-colorable
	url = https://github.com/mattn/go-colorable
	branch = ad5389df28cdac544c99bd7b9161a0b5b6ca9d1b
[submodule "vendor/github.com/mattn/go-isatty"]
	path = vendor/github.com/mattn/go-isatty
	url = https://github.com/mattn/go-isatty
	branch = fc9e8d8ef48496124e79ae0df75490096eccf6fe
[submodule "vendor/github.com/mattn/go-runewidth"]
	path = vendor/github.com/mattn/go-runewidth
	url = https://github.com/mattn/go-runewidth
	branch = 97311d9f7767e3d6f422ea06661bc2c7a19e8a5d
[submodule "vendor/github.com/matttproud/golang_protobuf_extensions"]
	path = vendor/github.com/matttproud/golang_protobuf_extensions
	url = https://github.com/matttproud/golang_protobuf_extensions
	branch = c12348ce28de40eed0136aa2b644d0ee0650e56c
[submodule "vendor/github.com/olekukonko/tablewriter"]
	path = vendor/github.com/olekukonko/tablewriter
	url = https://github.com/olekukonko/tablewriter
	branch = 0fd34425a5aee40ff3f260b34e6c3b0d59f58c66
[submodule "vendor/github.com/prometheus/client_golang"]
	path = vendor/github.com/prometheus/client_golang
	url = https://github.com/prometheus/client_golang
	branch = 353b8c3f3776541879f9abfd8fa8b1ae162ab394
[submodule "vendor/github.com/prometheus/client_model"]
	path = vendor/github.com/prometheus/client_model
	url = https://github.com/prometheus/client_model
	branch = 6f3806018612930941127f2a7c6c453ba2c527d2
[submodule "vendor/github.com/prometheus/common"]
	path = vendor/github.com/prometheus/common
	url = https://github.com/prometheus/common
	branch = 2f17f4a9d485bf34b4bfaccc273805040e4f86c8
[submodule "vendor/github.com/prometheus/procfs"]
	path = vendor/github.com/prometheus/procfs
	url = https://github.com/prometheus/procfs
	branch = e645f4e5aaa8506fc71d6edbc5c4ff02c04c46f2
[submodule "vendor/github.com/soheilhy/cmux"]
	path = vendor/github.com/soheilhy/cmux
	url = https://github.com/soheilhy/cmux
	branch = bb79a83465015a27a175925ebd155e660f55e9f1
[submodule "vendor/github.com/urfave/cli"]
	path = vendor/github.com/urfave/cli
	url = https://github.com/urfave/cli
	branch = 7fb9c86b14e6a702a4157ccb5a863f07d844a207
[submodule "vendor/github.com/xiang90/probing"]
	path = vendor/github.com/xiang90/probing
	url = https://github.com/xiang90/probing
	branch = 07dd2e8dfe18522e9c447ba95f2fe95262f63bb2
[submodule "vendor/golang.org/x/sync"]
	path = vendor/golang.org/x/sync
	url = https://go.googlesource.com/sync
	branch = f52d1811a62927559de87708c8913c1650ce4f26
[submodule "vendor/golang.org/x/time"]
	path = vendor/golang.org/x/time
	url = https://go.googlesource.com/time
	branch = 8be79e1e0910c292df4e79c241bb7e8f7e725959
[submodule "vendor/google.golang.org/genproto"]
	path = vendor/google.golang.org/genproto
	url = https://github.com/google/go-genproto
	branch = 1e559d0a00eef8a9a43151db4665280bd8dd5886
[submodule "vendor/gopkg.in/airbrake/gobrake.v2"]
	path = vendor/gopkg.in/airbrake/gobrake.v2
	url = https://gopkg.in/airbrake/gobrake.v2
	branch = 668876711219e8b0206e2994bf0a59d889c775aa
[submodule "vendor/gopkg.in/check.v1"]
	path = vendor/gopkg.in/check.v1
	url = https://gopkg.in/check.v1
	branch = 20d25e2804050c1cd24a7eea1e7a6447dd0e74ec
[submodule "vendor/gopkg.in/cheggaaa/pb.v1"]
	path = vendor/gopkg.in/cheggaaa/pb.v1
	url = https://gopkg.in/cheggaaa/pb.v1
	branch = 657164d0228d6bebe316fdf725c69f131a50fb10
[submodule "vendor/gopkg.in/gemnasium/logrus-airbrake-hook.v2"]
	path = vendor/gopkg.in/gemnasium/logrus-airbrake-hook.v2
	url = https://gopkg.in/gemnasium/logrus-airbrake-hook.v2
	branch = e928b033a891c0175fb643d5aa0779e86325eb12
[submodule "vendor/gopkg.in/urfave/cli.v1"]
	path = vendor/gopkg.in/urfave/cli.v1
	url = https://gopkg.in/urfave/cli.v1
	branch = cfb38830724cc34fedffe9a2a29fb54fa9169cd1
