sudo: required
dist: trusty

language: go

go:
  - "1.12.7"

env:
  - GO111MODULE=on

before_script:
  - bash scripts/check_gofmt.sh
  - make vet

script:
  - make travis

after_success:
  - bash <(curl -s https://codecov.io/bash)
